.flex {
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
}
.link {
    color: #252934;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 200ms;
    cursor: pointer;
}

.link:hover {
    color: #f300b4;
}